<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @register.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @register.lastname %>
</p>

<p>
  <strong>Role:</strong>
  <%= @register.role %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
